service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all files inside the "out" folder
    match /songs/{allPaths=**} {
      allow read;
    }
    
    // Add other rules for write access, if needed
    // match /path/to/other/folder/{allPaths=**} {
    //   allow write;
    // }
  }
}